body {
  background-color: #444444;
  color: #dddddd;
  margin: 5% 10%

}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
    background-color: gray;
}
